# Practicando condicional IF
## Ejercicio 1
Los alumnos de un curso se han dividido en dos grupos A y B de acuerdo al sexo y el nombre. El grupo A esta formado por las mujeres con un nombre anterior a la M y los hombres con un nombre posterior a la N y el grupo B por el resto. Escribir un programa que pregunte al usuario su nombre y sexo, y muestre por pantalla el grupo que le corresponde.

In [ ]:
nombre = input("Diga su nombre: ")
sexo = input("Diga su sexo (F o M): ")

if sexo.lower()=="f" :
    if nombre.lower()<"m":
        grupo= "A"
    else:
        grupo="B"
elif sexo.lower()=="m":
    if nombre.lower()>="n":
        grupo="A"
    else:
        grupo="B"
print(nombre + " pertenece al grupo " + grupo)

### Mismo ejercicio de otra manera

In [ ]:
nombre = input("Diga su nombre: ")
sexo = input("Diga su sexo (F o M): ")

if (sexo.lower()=="f" and nombre.lower()<"m") or (sexo.lower()=="m" and nombre.lower()>="n"):
    grupo="A"
else:
    grupo="B"
print(nombre + " pertenece al grupo " + grupo)

## Ejercicio 2
Escribir un programa para una empresa que tiene salas de juegos para todas las edades y quiere calcular de forma automática el precio que debe cobrar a sus clientes por entrar. El programa debe preguntar al usuario la edad del cliente y mostrar el precio de la entrada. Si el cliente es menor de 4 años puede entrar gratis, si tiene entre 4 y 18 años debe pagar 5€ y si es mayor de 18 años, 10€.

In [ ]:
edad=int(input("Diga su edad: "))

if (edad<4):
    precio="0"
elif (4<=edad<=18):
    precio="5$"
else:
    precio="10$"
print("Su entrada cuesta " + precio)

### Ejercicio 3
La pizzería Bella Napoli ofrece pizzas vegetarianas y no vegetarianas a sus clientes. Los ingredientes para cada tipo de pizza aparecen a continuación.

-Ingredientes vegetarianos: Pimiento y tofu.
-Ingredientes no vegetarianos: Peperoni, Jamón y Salmón.

Escribir un programa que pregunte al usuario si quiere una pizza vegetariana o no, y en función de su respuesta le muestre un menú con los ingredientes disponibles para que elija. Solo se puede eligir un ingrediente además de la mozzarella y el tomate que están en todas la pizzas. Al final se debe mostrar por pantalla si la pizza elegida es vegetariana o no y todos los ingredientes que lleva.

In [ ]:
ingredientes_vegetarianos = ["Pimiento", "Tofu"]
ingredientes_no_vegetarianos = ["Peperoni","Jamon","Salmon"]
pizza = input("¿Quiere una pizza vegetariana? (Si o No)")

if (pizza.lower()=="si"):
    print("Los ingredientes disponibles para su pizza son:\n1) " + ingredientes_vegetarianos[0] + "\n2) " + ingredientes_vegetarianos[1])
    ingrediente=int(input("Seleccione uno de los ingredientes: "))
    ingrediente=ingrediente-1
    print("Pizza vegetariana con Mozzarella, Tomate y " + ingredientes_vegetarianos[ingrediente])
else:
    print("Los ingredientes disponibles para su pizza son:\n1) " + ingredientes_no_vegetarianos[0] + "\n2) " + ingredientes_no_vegetarianos[1] + "\n3) " + ingredientes_no_vegetarianos[2])
    ingrediente=int(input("Seleccione uno de los ingredientes: "))
    ingrediente=ingrediente-1
    print("Pizza no vegetariana con Mozzarella, Tomate y " + ingredientes_no_vegetarianos[ingrediente])

# Bucle FOR
### Ejercicio 1
Escribir un programa que pregunte al usuario una cantidad a invertir, el interés anual y el número de años, y muestre por pantalla el capital obtenido en la inversión cada año que dura la inversión.

**NOTA:** La función incorporada ***round()*** toma como argumento un número de coma flotante y retorna un número entero según las reglas del redondeo. Un ***segundo argumento*** indica la cantidad de dígitos después del punto respecto de la cual se debe realizar la aproximación.

In [ ]:
capital = float(input("Diga cuanto va a invertir: "))
interes = float(input("Cual es el interes por año: "))
tiempo = int(input("Cuantos años: "))

for i in range(tiempo):
    capital= capital + (capital*interes)/100
    print("Capital por " + str(i+1) + "años: " + str(round(capital,2)))

# Ejercicio 2
Escribir un programa que pida al usuario un número entero y muestre por pantalla un triángulo rectángulo como el de más abajo, de altura el número introducido (En vez de puntos usar *).
.
..
...
....
.....

In [ ]:
h = int(input("Diga la altura del triangulo: "))

for i in range(h):
    print((i+1)*"*")

# Ejercicio 3
Escribir un programa que pida al usuario un número entero y muestre por pantalla un triángulo rectángulo como el de más abajo.

In [ ]:
#MI RESPUESTA
import math

numero = int(input("Diga un numero: "))
altura = math.floor(numero/2 + 1)
triangulo = []

for contador in range(numero,-1,-2):
    triangulo.append(contador)

for restador in range(-1,-altura-1,-1):
    for selector in range(restador,0,1):
        print(triangulo[selector], end=" ")
    print("")

#RESPUESTA DE LA PAGINA
n = int(input("Introduce la altura del triángulo (entero positivo): "))
for i in range(1, n+1, 2):
    for j in range(i, 0, -2):
        print(j, end=" ")
    print("")

# Ejercicio 4
Copia de una calculadora de cryptomines

In [ ]:
naves = []
workers = []
mpw = []
contratos = float(0.0657)
expedicion = float(0.6)
eternal = float(30.33)
flota = []
i_flota = 0
i_total = 0

print("Introduzca el precio de las naves: ")
print()

for nivel in range(5):
    naves.append(float(input(f"Nivel {nivel+1}: ")))
print()
    
print("Introduzca el precio y MP de los trabajadores: ")
print()

for nivel in range(5):
    workers.append(float(input(f"Nivel {nivel+1}: Precio: ")))
    mpw.append(int(input(f"Mp : ")))
print()

if (naves[0]*2>=naves[1]):
    flota.append(naves[1])
else:
    flota.append(naves[0]*2)
flota.append(workers[1]*2)

i_flota = sum(flota)
i_total = (i_flota + contratos + expedicion)*eternal
print(i_flota*eternal,"$")
print(i_total,"$")

# Archivos externos con la funcion open()
En la funcion open el primer parametro es el nombre y ubicacion del archivo
El segundo parametro es para leer o escribir en el archivo: w=escribir, r=leer, a=agregar, r+=leer y escribir

In [3]:
with open("C:/Users/Moises Sira/desktop/Ejemplo.txt","w") as archivo_texto:
    texto="Mi primer archivo \nen python"
    archivo_texto.write(texto)
print(archivo_texto.name)
print(archivo_texto.mode)

archivo_texto=open("C:/Users/Moises Sira/desktop/Ejemplo.txt","a")
archivo_texto.write("\nhay que practicar para perfeccionar la tecnica")
archivo_texto.close()

archivo_texto=open("C:/Users/Moises Sira/desktop/Ejemplo.txt","r")
lineas_texto=archivo_texto.readlines()
archivo_texto.close()
print(lineas_texto)

C:/Users/Moises Sira/desktop/Ejemplo.txt
w
['Mi primer archivo \n', 'en python\n', 'hay que practicar para perfeccionar la tecnica']

### Como copiar un archivo

In [4]:
with open("C:/Users/Moises Sira/desktop/Ejemplo.txt","r") as archivo_texto:
    with open("C:/Users/Moises Sira/desktop/Ejemplo2.txt","w") as archivo_copia:
        for i in archivo_texto:
            archivo_copia.write(i)

# Libreria Pandas
## Cargando datos con Pandas
Digamos que queremos cargar un archivo CSV usando la función incorporada de Pandas, read_csv.

    csv_path="archivo_csv.csv"
    df=pd.read_csv(csv_path)

## Data frames
Una forma en la que Pandas permite trabajar con datos es con data frame (marco de datos).

### Como pasar de un archivo csv y exel a un data frame 
    csv_path="Archivo_csv.csv" --> Esta variable almacena la ruta del csv y se utiliza como argumento de la funcion read_csv
    df=pd.read_csv(csv_path) --> El resultado se almacena en la  variable df (data frame)

Ahora que tenemos los datos en un data frame, podemos trabajar con ellos. Podemos usar el método "head" para examinar las primeras cinco filas de un marco de datos o la funcion "tail" para examinar las ultimas cinco filas. Dentro de los parametros podemos especificar el numero de filas a examinar, ejemplo df.tail(10) examina las ultimas 10 filas.

    df.head() --> Examina las primeras 5 filas
    df.tail() --> Examina las ultimas 5 filas
    
El proceso para cargar un archivo de Excel es similar.
    
    xlsx_path="Archivo_xlsx.xlsx" --> Usamos la ruta del archivo de Excel.
    df=pd.read_exel(xlsx_path) --> La función lee Excel. El resultado es un marco de datos.
    df.head()

### Data frame con diccionarios
Un data frame está compuesto de filas y columnas. Podemos crear un data frame a partir de un diccionario. Las claves corresponden a las etiquetas de las columnas. Los valores o listas corresponden a las filas.

    A continuación, convertimos el diccionario en un data frame utilizando la función DataFrame.
    Songs: Canciones
    Released: Publicado
    Length: Largo, longitud, duracion

In [1]:
import pandas as pd

songs = {"Albun":["Thriller","Black in black","The dark side on the moon",\
                  "The Bodyguard","Bat out of hell"],\
         "Released":["1982","1980","1973","1992","1977"],\
         "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}

songs_frame = pd.DataFrame(songs)
songs_frame

                       Albun Released    Length
0                   Thriller     1982  00:42:19
1             Black in black     1980  00:42:11
2  The dark side on the moon     1973  00:42:49
3              The Bodyguard     1992  00:57:44
4            Bat out of hell     1977  00:46:33

Podemos ver la correspondencia directa con la tabla. Las claves corresponden a los encabezados de la tabla. Los valores son listas correspondientes a las filas.

Podemos crear un nuevo data frame que consiste en una columna.
    
    Sólo ponemos el nombre del fata frame, en este caso, df, y el nombre de la cabecera de la columna entre corchetes dobles.
        x=df[["Length"]]
    El resultado es un nuevo data frame compuesto por la columna original.
    
Puedes hacer lo mismo para múltiples columnas.
    
    Sólo ponemos el nombre del data frame, en este caso, df, y el nombre de las cabeceras de las múltiples columnas entre
    dobles corchetes.
        y=df[["Artist","Length","Genre"]]
    El resultado es un nuevo marco de datos compuesto por las columnas especificadas.
    
Una forma de acceder a los elementos únicos es el método "iloc".

    Se puede acceder a la primera fila y a la primera columna de la siguiente manera.

In [10]:
songs_frame.iloc[0,0]

'Thriller'

In [2]:
df = pd.DataFrame({'a':[1,2,1], 'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [4]:
df['b']==1

0    True
1    True
2    True
Name: b, dtype: bool

# Examen final del curso

In [1]:
A = '1234567'
A[1::2]

'246'

In [3]:
A.find('4')

3

In [4]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [7]:
'Hola'.split('o')

['H', 'la']